<%- include('./partials/_header.ejs') %>
<div class="row">
    <div class="col-md-6 mx-auto">
        <table class="table">
            <thead>
                <th>id</th>
                <th>nombre</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < carreraList.length; i++) { %>
                <tr>
                    <td><%=carreraList[i]._id%></td>
                    <td><%=carreraList[i].nombre%></td>
                </tr>
                <% } %>        
            </tbody>
        </table>
    </div>
</div>
<%- include('./partials/_footer.ejs') %>