        </div>
        <div class="content-chat" id="contentChat">
            <div id="contentChatHead">
                <span>chat</span>
                <i class="fa fa-chevron-down" aria-hidden="true" id="iconDown"></i>
            </div>
            <div class="content-chat-messages" id="contentChatMessages">
            </div>
            <div class="col-md-12 m-0 p-0">
                <form name="messageForm" id="messageForm" method="POST" enctype="multipart/form-data">
                    <input name="message" id="message" class="form-control" placeholder="message" required/>
                    <input type="file" name="file" id="file" style="display: none;" />
                    <label for="file" class="btn btn-link p-0 pl-2 pr-2 pt-1"><i class="fa fa-file-image-o"></i></label>
                    <button class="btn btn-link p-0 pl-2 pr-2"><i class="fa fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </body>
</html>