        </div>
        <div class="content-chat" id="contentChat">
            <div id="contentChatHead">
                <span>chat</span>
                <i class="fa fa-chevron-down" aria-hidden="true" id="iconDown"></i>
            </div>
            <div class="content-chat-messages" id="contentChatMessages">
            </div>
            <div class="col-md-12 m-0 p-0">
                <form name="messageForm" id="messageForm">
                    <input name="message" id="message" class="form-control" placeholder="message" />
                    <button class="btn btn-link"><i class="fa fa-check"></i></button>
                </form>
            </div>
        </div>
    </body>
</html>